<section class="contenedor">
    <div class="contenedorPagina">
        <div class="imagen">
            <img class="image" src="../../../assets/SeeArt.png">
        </div>
        <div class="texto">
            <h1 class="mat-display-2" style="text-align:center; color: rgb(169, 34, 136); margin-top: 3%;">Página no encontrada</h1>
            <h2 style="text-align:center; color: rgb(169, 34, 136);">Lo sentimos la página que búscas no se encuentra en el servidor.</h2>
        </div>
    </div>

</section>